:local(.container) {

  .controls {
    display: flex;
    margin: auto 1em;

    .bank {
      margin: auto;
      width: 36em;
      text-align: center;
    }

    .trash {
      margin-top: 5em;
    }

    .info {
      width: 20em;
      height: 18em;
    }
  }

}
