@import '../style/utils';
@import '../style/dimens';

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
}

/*
@for $i from 0 through ($max-width - $min-width) / $granularity {
  $width: $min-width + $i * $granularity;
  @media (min-width: $width) {
    table.calendar {
      width: $width;
      height: round($width / (26 / 7));
    }
    body {
      font-size: round($width / 100);
    }
  }
}
*/

h1 {
  margin: 0.25em 0 0.5em 0;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

:local(.container) {
  font-family: sans-serif;
  @include no-select();

  .children {
    margin-top: $navbar-height + 15px;
  }
}
