:local(.container) {

  .controls {
    display: flex;
    margin: auto 12px;

    .hours-settings {
      width: 30%;
    }

    .chip-bank {
      margin: 0 auto;
      width: 320px;
    }

    .trash {
      margin: 50px auto;
    }

    .location-order {
      width: 20%;
    }
  }

}
