:local(.container) {

  .controls {
    display: flex;
    margin: auto 12px;

    >div {
      margin: 0 auto;
    }

    .hours-settings {
      width: 300px;
    }

    .chip-bank {
      width: 320px;
    }

    .trash {
      margin-top: 50px;
    }

    .location-order {
      width: 240px;
    }

    .info {
      margin-top: 8px;
      width: 200px;
      height: 240px;
    }
  }

}
