@import '../style/dimens';

:local(.container) {
  .header {
    display: flex;
  }

  .controls {
    display: flex;
    margin: auto 1em;

    .bank {
      margin: auto;
      width: 36em;
      height: 18em;
      text-align: center;
    }

    .trash {
      margin: 5em auto 0 auto;
    }

    .info {
      width: 20em;
      height: 18em;
    }
  }
}
