@import '../style/dimens';

:local(.container) {
  width: 480px;
  margin: auto;
  h2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 22px;
  }
  .settings-row {
    display: flex;
    width: 100%;

    .name {
      padding-top: 8px;
      padding-right: 12px;
    }
    .value {
      display: flex;
      a.btn {
        margin-bottom: 5px;
      }

      .action {
        margin-left: 12px;
      }
    }
  }
  .user-icon {
    margin: 0 10px;
  }
}
