@import '../style/dimens';

:local(.container) {
  width: 400px;
  margin: auto;
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  .settings-row {
    width: 100%;

    .label {
      padding-top: 10px;
      padding-right: 10px;
    }
    .value {
      display: flex;
      a.btn {
        margin-bottom: 5px;
      }
    }
  }
  .user-icon {
    border-radius: $border-radius;
    margin: 0 10px;
  }
}
