@import '../../style/dimens';

:local(.container) {

  .bank-row {
    display: flex;
  }

  .notes {
    font-size: $small-font;
    color: #999;
    text-align: center;
    padding-left: 1em;
  }
}
