@import '../../style/colors';

.slot_480 {
  fill: $slot-8-hours-color;
}

.slot_240 {
  fill: $slot-4-hours-color;
}

.slot_120 {
  fill: $slot-2-hours-color;
}

.slot_60 {
  fill: $slot-1-hour-color;
}
