$light-gray: #CCC;
$lighter-gray: #E0E0E0;
$lightest-gray: #EEE;
$border-color: $light-gray;
$medium-gray: #888;
$hover-color: #39F;
$success-color: #0D0;
$reject-color: #F00;
$nav-bg-color: #DDD;
$nav-text-color: #444;
$nav-text-hover-color: #222;

$rank-colors: (
  $success-color,
  #FF0,
  #F80,
  $reject-color
)
