$light-gray: #CCC;
$lighter-gray: #E0E0E0;
$lightest-gray: #EEE;
$border-color: $light-gray;
$medium-gray: #888;
$hover-color: #39F;
$success-color: #0D0;
$reject-color: #F00;
$nav-bg-color: #DDD;
$nav-text-color: #444;
$nav-text-hover-color: #222;

$slot-8-hours-color: #F80;
$slot-4-hours-color: #F0F;
$slot-2-hours-color: #06F;
$slot-1-hour-color: #090;

$rank-1-color: #0F24B2;
$rank-2-color: #2B46FF;
$rank-3-color: #5B70FF;
$rank-4-color: #B28900;
