:local(.container) {
  width: 320px;
  height: 320px;
  border-radius: 4px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.selectivity-dropdown.has-search-input  {
  left:0 !important;
  top:0 !important;
}

.where + div {
  position: relative;

  &>.selectivity-dropdown.has-search-input  {
    left:0 !important;
    top:0 !important;
    position: absolute;
  }
}
