:local(.container) {
  width: 480px;
  height: 360px;
  padding: 20px;
  border: thin solid #CCC;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  .title {
    margin-bottom: 30px;
    border-bottom: thin solid #DDD;
    padding-bottom: 3px;
  }
  .field {
    label {
      font-weight: 500;
    }
    margin: 10px 0;
    .datetime, .select {
      display: inline-block;
      margin: 0 10px;
    }
    .select {
      width: 320px;
    }
  }
  .buttons {
    display: flex;
    button {
      flex: 1;
      margin: 25px;
    }
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 9999999;
}

.selectivity-single-select {
  background: #FFF !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(204, 204, 204) !important;
  border-image: initial !important;
  border-radius: 4px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  line-height: 1em !important;
}

.selectivity-dropdown.has-search-input  {
  left:0 !important;
  top:0 !important;
}

.where + div {
  position: relative;

  &>.selectivity-dropdown.has-search-input  {
    left:0 !important;
    top:0 !important;
    position: absolute;
  }
}

.selectivity-single-result-container {
  left: 10px !important;
}

.selectivity-caret {
  right: 15px !important;
}
