@import '../style/colors';

:local(.container) {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;

  .cell.full {
    position: relative;

    >div {
      position: relative;
      z-index: 3;
    }
  }

  .cell.half {
    width: 40%;
    height: 100%;
    position: absolute;
  }

  .cell.half.left {
    left: -20%;
  }

  .cell.half.right {
    right: -20%;
  }

  .cell.over {
    opacity: 0.4;
  }

  .cell.over {
    background-color: $hover-color;
  }

  .cell.reject {
    background-color: $reject-color;
    cursor: no-drop;
  }
}
