@import '../style/colors';

$border: thin solid $border-color;

:local(.container) {
  margin-bottom: 25px;
  table.calendar {
    table-layout: fixed;
    border-spacing: 0;
    margin: auto;
    thead {
      td {  /* column labels */
        position: relative;
        height: 20px;
        line-height: 3px;

        div.hour-label {
          position: absolute;
          text-align: center;
          left: -10px;
          width: 20px;
        }
      }

      td:nth-child(n+14):not(:last-child) {
        background-color: $lighter-gray;
        border-top: $border;
      }
    }
    tbody {
      td {
        padding: 0;
      }
      td:not(:last-child) {
        border-right: $border;
      }
      td:not(:first-child):not(:last-child) {
        border-bottom: $border;
      }
      tr:first-child td:not(:first-child):not(:last-child) {
        border-top: $border;
      }
      td:first-child {  /* row labels (left) */
        text-align: right;
        padding-right: 10px;
      }
      td:last-child {  /* row labels (right) */
        text-align: left;
        padding-left: 10px;
      }
    }
  }
  @for $i from 600px through 3200px {
    @media (min-width: $i) {
      table.calendar {
        width: $i;
        height: $i / 3.3;
      }
    }
  }
}
