@import '../style/colors';
@import '../style/dimens';

$border: thin solid $border-color;

:local(.container) {
	border: $border;
	border-radius: $border-radius;
	padding: 16px;
	height: 100%;

	.cell {
		> div {
			margin-bottom: 10px;
		}
	}

	.employee {

	}

	.action {
		.title {
			font-weight: bold;
			text-align: center;
			margin-bottom: 10px;
		}
		.description {
			font-size: small;
		}
	}

	.label {
		font-weight: bold;
		margin-right: 5px;
	}
}