@import '../style/dimens';

:local(.icon) {
	cursor: grab;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	border-radius: $border-radius;
}

:local(.icon).disabled {
	cursor: default;
}

:local(.icon).disabled.transparent {
	opacity: 0.15;
}

:local(.icon).dragging {
	opacity: 0.25;
}
