:local(.container) {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;

  .cell {
    height: 100%;
  }

  .cell.full {
      width: 100%;
      display: flex;
  }

  .cell.half {
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }

  .cell.half.left {
    left: -20%;
  }

  .cell.half.right {
    right: -20%;
  }

  .cell.over {
    opacity: 0.4;
  }

  .cell.over.accept {
    background-color: #39F;
  }

  .cell.over.reject {
    background-color: #F00;
  }
}
