@import '../style/colors';
@import '../style/dimens';

$border: thin solid $border-color;

:local(.container) {
	border: $border;
	border-radius: $border-radius;
	padding: 12px 10px;
	height: 100%;

	.cell {

	}

	.employee {

	}

	.action {
		.title {
			font-weight: bold;
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.chip {

	}
}