@import '../style/dimens';
@import '../style/colors';

:local(.container) {

  .search {
    margin-bottom: 0.5em;
  }

  .bank-row {
    display: flex;
  }

  .notes {
    font-size: $small-font;
    color: $medium-gray;
    text-align: center;
    padding-left: 1em;
  }
}
