@import '../style/colors';
@import '../style/dimens';

.trash-icon {
	font-size: 7em;
	color: $lighter-gray;
	padding: 0.1em;
	border-radius: $border-radius;
}

.trash-icon.enabled {
	color: $medium-gray;
}

.trash-icon.over {
	color: $hover-color;
}

.trash-icon.reject {
	color: $reject-color;
}
