@import '../../style/colors';

:local(.container) {
  .scroll-area {
    overflow: hidden;

    .row {
      display: flex;
    }
  }

  .notes {
    font-size: small;
    color: $medium-gray;
    text-align: center;
    padding-left: 10px;
  }
}
