@import '../../style/colors';

@mixin chip-color($color) {
  fill: $color;
  circle {
    stroke: $color;
    stroke-width: 4px;
    fill-opacity: 0.25;
  }
  text: {
    fill: $color;
    font-weight: bold;
  }
}

.chip_1 {
  @include chip-color($chip-1-color);
}

.chip_2 {
  @include chip-color($chip-2-color);
}

.chip_3 {
  @include chip-color($chip-3-color);
}

.chip_4 {
  @include chip-color($chip-4-color);
}
