@import '../../style/colors';
@import '../../style/dimens';

:local(.container) {
  .scroll-area {
    overflow: hidden;

    .bank-row {
      display: flex;
    }
  }

  .notes {
    font-size: $small-font;
    color: $medium-gray;
    text-align: center;
    padding-left: 0.8em;
  }
}
