:local(.container) {
  .scroll-area {
    overflow: hidden;

    .bank {
      .row {
        display: flex;
      }
    }
  }

  .notes {
    font-size: small;
    color: #999;
    text-align: center;
    padding-left: 10px;
  }
}
