@import '../../style/dimens';

:local(.container) {

  >div {
    margin-bottom: 1em;
  }

  .weekly-hours-container {
    display: flex;

    label {
      line-height: 2.5em;
    }

    .number-picker {
      width: 5em;
      margin-left: 0.5em;
    }
  }

  .value {
    font-weight: bold;
  }

  .hours-desired {
    font-size: inherit;
    width: 36px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    text-align: center;
  }

  .star, .notes {
    color: #F00;
  }

  .star {
    font-weight: bold;
    font-size: 32px;
    margin-left: 4px;
  }

  .notes {
    margin-top: 2em;
    font-size: $small-font;
  }
}
