@import '../../style/colors';
@import '../../style/dimens';

:local(.container) {
  .title {
    text-align: center;
    font-weight: bold;
  }
  .list-item {
    font-size: small;
    border-radius: $border-radius;
    background-color: $lighter-gray;
    margin: 6px 0;
    cursor: pointer;
    padding: 4px 8px;
    -webkit-user-drag: element;
    -webkit-user-select: none;
  }
}
